---
name: upload test release to testPyPI
"on":
  push:
    tags:
      - "*.*.*-rc*"

jobs:
  testpypi-publish:
    name: upload test release to testPyPI
    runs-on: ubuntu-latest
    environment: pre-release
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Configure testPyPI repository
        run: poetry config repositories.testpypi https://test.pypi.org/legacy/
      - name: Configure testPyPI token
        run: poetry config pypi-token.testpypi ${{ secrets.TEST_PYPI_API_KEY }}
      - name: Publish package
        run: poetry publish --build -r testpypi
