---
name: Tox
"on":
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  FORCE_COLOR: 1
  PY_COLORS: 1

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Run Tox
        run: poetry run tox
